@using MatriculasPrefeitura.Models

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCpbsdLaCvNpC0jObCLKvRSH8eFXwuZ5Yk&sensor=false"></script>
    <script type="text/javascript" language="javascript">
          var map = null;
          function chamaMapa() {
    var latlng = new google.maps.LatLng(-23.64340873969638, -46.730219057147224);
              var myOptions = {
                  zoom: 15,//utilizaremos o zoom 15
                  center: latlng,//aqui a nossa variavel constando latitude e
                                 //longitude ja declarada acima
                  mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              //criando o mapa dentro da div com o id="map_canvas" que ja criamos
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
              //DEFINE AS COORDENADAS do ponto exato - CENTRALIZAÇÃO DO MAPA
              map.setCenter(new google.maps.LatLng(-20.7233106, -46.6146444));
          }
          function abreLink() {
              window.open('http://www.google.com.br');
          }
    </script>
</head>
<body onload="chamaMapa();">
    <div id="map_canvas" style="width: 95%; height: 432px">
    </div>
</body>
</html>