@using MatriculasPrefeitura.Models
@model List<Matricula>
@{
    List<Aluno> mat = ViewBag.Alunos;
    Layout = null;
}

<h2>Turma</h2>

<table class="table table-hover table-striped" style="margin-left: 30px">
    <tr>
        <td colspan="2">
            @foreach (var aluno in Model)
            {
                <b>Matrícula: </b> @aluno.AlunoMatriculado.NumAluno
                <b>Nome: </b> @aluno.AlunoMatriculado.NomeAluno
                <br/>
            }
        </td>
    </tr>
</table>

