
@{
    ViewBag.Title = "Index";
}

<h2>Gerenciamento de Professores</h2>

<li class="nav-item">
    @Html.ActionLink("Cadastrar Professor", "CadastrarProfessor", "Professor", null, new { @class = "nav-link" })
    @Html.ActionLink("Editar Professor", "EditarProfessor", "Professor", null, new { @class = "nav-link" })
</li>